test/
train/
results/
img/


character_recognition/test/
character_recognition/train/
character_recognition/.ipynb_checkpoints/
character_recognition/*.h5

character_segmentation/.ipynb_checkpoints/

pipeline/.ipynb_checkpoints/

car_detection/
car_detection/car_bbox_out/
car_detection/results/
car_detection/test/
car_detection/.ipynb_checkpoints/

wpod_net/


__pycache__/
.vscode/
.ipynb_checkpoints/

*.csv
*.pem
*.pdf
*.jpg
*.png
*.npy
**/*.ipynb_checkpoints
**/*.csv
**/*.npy
